$color-one: #1f1f1f;
$color-two: #5f4128;
$color-two-light: #a2622d;
$color-three: #a24d06;
$color-bg: #f5f5f5;
$border: #9e9e9e;
$negative-text: #f00;
$border-color: #ccc;
$max-width: 1200px;
$max-shop-width: 2500px;
$max-width-modal: 1000px;
//$color-two: #f9a217;
//$color-three: #54abd6;
//$color-four: #53c3d1;

$phone: 768px - 1;
$tablet: 1024px - 1;
